<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="main" class="container">

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h5 class="border-bottom border-gray pb-2 mb-0">Campaign User</h5>



        <div class="media text-muted pt-3">

            <div class="form-group">
                <label >Campign : </label>
                <label th:text="*{campaign.name}">-</label>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label >Description : </label>
                <label th:text="*{campaign.description}">-</label>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label >Start Date : </label>
                <label th:text="*{campaign.startDate}">-</label>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label >End Date : </label>
                <label th:text="*{campaign.endDate}">-</label>
            </div>




        </div>

        <table width="100%">
            <tr>
                <td align="right">
                    <form method="get">
                        <div class="input-group input-group-sm" style="width: 100%;">
                            <input type="text" class="form-control" name="value" id="exampleFormControlInput1" placeholder="Pencarian Berdasarkan Nama"  th:if="${key} == null"/>
                            <input type="text" class="form-control" name="value" id="exampleFormControlInput1" placeholder="Pencarian Berdasarkan Nama"  th:if="${key} != null" th:value="${key}"/>
                            <input type="hidden" name="mode" id="mode"/>
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>

        <form th:action="@{/campaign/user/form}" method="post" th:object="${campaign}">
            <input type="hidden" name="campaign" th:value="${campaign.id}">
            <div class="box-body table-responsive no-padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u : ${daftarUser}">
                        <td>
                            <input type="checkbox" th:field="*{users}" th:value="${u.id}">
                        </td>
                        <td>
                            <label th:for="${#ids.prev('users')}"
                                   th:text="${u.fullname}">Heating</label>
                        </td>
                        <td th:text="${u.username}">-</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <input type="submit" class="btn btn-primary" value="Simpan">
            <a th:href="@{/campaign/list}" class="btn btn-primary" role="button">
                <span aria-hidden="true"></span>Batal
            </a>
        </form>

    </div>
</section>
</body>
</html>


