<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>outbound-callcenter</title>

    <!-- Bootstrap core CSS -->
    <!-- iCheck for checkboxes and radio inputs -->
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/select2.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/navbar-top-fixed.css" rel="stylesheet">
    <link href="/offcanvas.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">outbound-callcenter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"th:href="@{/user/list}">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/institution/list}">Institution</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/prospect/list}">Prospect</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/campaign/list}">Campaign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/asign/list}">Asign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sesi Telepon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Laporan</a>
            </li>
        </ul>
    </div>
</nav>

<main layout:fragment="main" class="container">
    <!-- Content here -->
</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/offcanvas.js"></script>
<script th:src="@{/dist/js/select2.min.js}"></script>

<!-- bootstrap color picker -->

</body>
</html>
